@use "base/mixins" as m;
@use "base/variables" as v;

.formulario {
    width: 100%;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
    gap: 1rem;
    @include m.desktop { 
        flex-direction: row;
    } 
    label {
        font-size: 2rem;
        @include m.desktop {
            flex: 0 0 12rem;
        }
    }

    input {
        border: none;
        padding: calc(v.$separacion / 4);
        border-radius: 1rem;
        width: 100%;
        @include m.tablet { 
            flex: 1;
        } 

        &:disabled {
            background-color: lighten(v.$negro, 30);
            color: v.$blanco;
            cursor: not-allowed;
        }
    }
}
.alerta {
    font-size: 1.8rem;
    font-weight: v.$bold;
    text-align: center;
    margin: 3rem 0 1rem 0;
    
    @include m.desktop { 
       text-align: left; 
    } 

    &.error {
        color: v.$rojo;
    }

    &.exito {
        color: v.$verde;
    }
}

.mensaje {
    font-weight: v.$bold;
    text-align: center;
    padding: 1rem;
    &.error {
        background-color: v.$rojo;
    }

    &.exito {
        background-color: v.$verde;
    }
}

