@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor-app {
    @include m.desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100dvh;
        height: 100%;
    }

    .imagen {
        height: 20rem;
        background-image: url(../img/1.jpg);
        background-repeat: no-repeat;
        background-size: cover;        
        background-position: center;

        @include m.desktop {
            height: 100%;
        }
    }
}

.app {
    width: 95%;
    padding: 3rem 0;
    margin: 0 auto;

    @include m.desktop { 
        overflow-x: hidden;
        overflow-y: auto;
    } 
}

.barra {
    margin-bottom: 6rem;
    @include m.tablet { 
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    .boton {
        @include m.boton(v.$rojo, v.$blanco);
        margin: 0;
    }
}

.barra-servicios {
    margin-bottom: v.$separacion;

    @include m.tablet { 
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    } 

    .boton {
        margin: 0 0 1rem 0;

        &.actual {
            background-color: v.$blanco;
            color: v.$azul;
        }
    }
}